/* grid rules */
.row::after {
    content: "";
    display: table;
    clear: both;
}
[class*="col"] {
    float:left;
}

/* global styles */

* {
    box-sizing: border-box;
  }
  
  .container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .container-fluid {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

body {
    background-color: $body-background-color;
}
.main {
    margin-left: 20%;
    margin-top: 60px;
}
.circle {
    @include rectangle(18px, 18px);
    border-radius: 50%;
}

