/* grid rules */
.row {
    display: flex;
    flex-wrap: wrap;
}
.row::after {
    content: "";
    display: table;
    clear: both;
}
[class*="col"] {
    float: left;
    min-height: 1px;
}

/* global styles */

* {
    box-sizing: border-box;
}
  
.container-fluid {
    width: 100%;
    padding-left: 16%;
    padding-right: 1%;
}


a {
    text-decoration: none;
    font-family: $paragraph-font;
    color: $text-color-hover;
}
body {
    background-color: $body-background-color;
}
.main {
    margin-top: 60px;
}
.circle {
    @include rectangle(18px, 18px);
    border-radius: 50%;
}

