@media (min-width: 1200px) {
    @include grid('xl');
    @include grid-offset('xl');
}
@media (min-width: 992px) {
    @include grid('lg');
    @include grid-offset('lg');
    .sidebar {
        height: 100%;
        width: 20%;
    }
    .container-fluid {
        width: 100%;
        padding-left: 21%;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    @include grid('md');
    @include grid-offset('md');
    .container-fluid {
        padding: 0 1%;
        &.change-left-padding {
            padding-left: 210px;
        }
    }
    .sidebar {
        height: 60px;
        .sidebar-up {
            width: 200px;
            .brand {
                background-color: $page-background-color;
                justify-content: flex-start;
                .brand-name {
                    display: none;
                }
                .brand-name-display {
                    display: block;
                }
            }
            .change-brand {
                background-color: $sidebar-background-color;
            }
        }
        .menu {
            display: none;
        }
        .show {
            @include flex(flex-start, center);
            flex-direction: column;
            background-color: $sidebar-background-color;
            position: inherit;
            width: 200px;
            height: 100%;
        }
        .sidebar-menu {
            background-color: $sidebar-background-color;
            padding-left: 0;
            .menu-icon {
                font-size: $paragraph-font-size;
            }
        }
    }
}
@media (max-width: 767px) {
    @include grid('sm');
    @include grid-offset('sm');
    .container-fluid {
        padding: 0 1%;
        .change-top-margin {
            margin-top: 500px;
        }
    }
    .navbar {
        display: none;
    }
    .change-height {
        height: 300px;
    }
    .sidebar {
        height: 60px;
        width: 100%;
        .menu {
            display: none;
            .sidebar-menu {
                background-color: $sidebar-background-color;
                padding: 0;
                width: 100%;
                .menu-icon {
                    font-size: 16px;
                    margin-left: 5px;
                }
            }
            .sidebar-down {
                .manager {
                    padding-left: 0;
                }
            }
        }
        .show {
            @include flex(center, center);
            flex-direction: column;
            background-color: $sidebar-background-color;
            position: inherit;
            width: 100%;
        }
    }
    .personal-data-container {
        .section-header {
            font-size:11px;
        }
    }
    .general {
        .date-period {
            .first-date {
                @include rectangle(130px, 40px);
            }
            .second-date {
                @include rectangle(150px, 40px);
                img {
                    margin: 0 0 0 20px;
                }
            }
            .refresh-btn {
                margin-left: 10px;
            }
        }
    }
    .table-with-link-row {
        @include flex(space-between, center);
        flex-direction: column;
        width: 100%;
        .link {
            margin: 0;
        }
        .section-header {
            padding: 0;
        }
        .two-icons {
            margin: 10px 0;
        }
    }
}
