@media (min-width: 1200px) {
    @include grid('xl');
    @include grid-offset('xl');
}
@media (min-width: 992px) {
    @include grid('lg');
    @include grid-offset('lg');
    .sidebar {
        height: 100%;
        width: 20%;
    }
    .container-fluid {
        width: 100%;
        padding-left: 21%;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    @include grid('md');
    @include grid-offset('md');
    .container-fluid {
        padding: 0 1%;
        &.change-left-padding {
            padding-left: 210px;
        }
    }
    .sidebar {
        height: 60px;
        .sidebar-up {
            width: 200px;
        }
        .menu {
            display: none;
        }
        .show {
            @include flex(flex-start, center);
            flex-direction: column;
            background-color: $sidebar-background-color;
            position: inherit;
            width: 200px;
            height: 100%;
        }
        .sidebar-menu {
            background-color: $sidebar-background-color;
            .menu-icon {
                font-size: $paragraph-font-size;
            }
        }
    }
}
@media (max-width: 767px) {
    @include grid('sm');
    @include grid-offset('sm');
    .container-fluid {
        padding: 0 1%;
        .change-top-margin {
            margin-top: 500px;
        }
    }
    .navbar {
        display: none;
    }
    .change-height {
        height: 300px;
    }
    .sidebar {
        height: 60px;
        width: 100%;
        .menu {
            display: none;
        }
        .show {
            @include flex(center, center);
            flex-direction: column;
            background-color: $sidebar-background-color;
            position: inherit;
            width: 100%;
        }
        .sidebar-menu {
            background-color: $sidebar-background-color;
            .menu-icon {
                font-size: 20px;
            }
        }
    }
    .personal-data-container {
        .section-header {
            font-size:11px;
        }
    }
}
