/* colors */
$header-color: #979797;
$paragraph-color: #797979;
$text-color: #333333;
$text-color-hover: white;
$sidebar-background-color: #333333;
$page-background-color: white;
$body-background-color: #e3e3e3;
$border-color: #e3e3e3;
/* buttons */
$action-button-color: #f58220;
$action-button-color-hover: #ffa220;
$decline-button-color: #797979;
$decline-button-color-hover: #979797;
$disabled-button-color: #e3e3e3;
$tab-button-color: #e3e3e3;
/* links */
$link-color: #56819f;
$link-color-hover: #ffa220;
$sidebar-hover-background-color: #979797;
$hover-background-color: #e3e3e3;

$positive-notification: #96cc9B;
$positive-notification-hover: #74b67a;
$negative-notification: #ec7171;
$negative-notification-hover: #de5252;

$slider-color: #f58220;
$slider-background: #e3e3e3;
/* font sizes */
$paragraph-font-size: 14px;
$header-font-size: 16px;
/* fonts */
$brand-font: Glyphter, Helvetica, Arial;
$paragraph-font: Glyphter, Helvetica, Arial;
/* input */
$placeholder-color: #f5f5f2;
$input-borderbox: #f5f5f2;
$input-borderbox-click: #979797;
$input-borderbox-warn: #ff0000;
/* messenger */
$online-color: #04ae00;
$offline-color: #e3e3e3;
$your-message-background: #797979;
$your-message-color: white;
$manager-message-background: #e3e3e3;
$manager-message-color: #333333;
/* checkbox */
$checked-color: #04AE00;
/* tabs */
$first-tab-color: #56819F;
$second-tab-color: #F58220;
$third-tab-color: #04AE00;
/* paddings */
$sidebar-padding-left: 18px;

