.btn {
    @include rectangle(95px, 40px);
    font-family: $paragraph-font;
    cursor: pointer;
    border-radius: 5%;
    color: $text-color-hover;
    border: 0; 
}
.orange-btn {
    @extend .btn;
    background-color: $action-button-color;
    &:hover {
        background-color: $action-button-color-hover;
    }
}
.grey-btn {
    @extend .btn;
    background-color: $decline-button-color;
    &:hover {
        background-color: $decline-button-color-hover;
    }
}
.top-menu-button {
    @include rectangle(60px, 60px);
    @include border(0, 1px, 1px, 1px);
    background-color: $page-background-color;
    @include flex (center, center);
    &:hover {
        background-color: $hover-background-color;
        cursor: pointer;
    }
    img {
        @include icon(18px,black);
    }
}
.icon-button {
    @include rectangle(40px, 40px);
    @include flex (center, center);
    border-radius: 5%;
    background-color: $action-button-color;
    &:hover {
        background-color: $action-button-color-hover;
    }
    img {
        @include icon(20px, black);
    }
}