.date-period {
        @include border(0, 0, 1px, 0);
        grid-area: 2/1/3/2;
        height: 110px;
        @extend .flex-center;
        .first-date {
            @include square-size(150px,40px);
            @include border(1px, 0, 1px, 1px);
            font-size: $paragraph-font-size;
            color: $text-color;
            border-radius: 5%;
            p {
                margin-left: 20px;
            }
        }
        .second-date {
            @include square-size(170px,40px);
            @include border(1px, 1px, 1px, 1px);
            font-size: $paragraph-font-size;
            color: $text-color;
            display: flex;
            border-radius: 5%;
            p {
                margin-left: 20px;
            }
            .icon-calendar {
                @include icon(18px, black);
                position: absolute;
                transform: translate(0,50%);
                left: 63%;
                cursor: pointer;
                margin: 3px 0 0 40px;
            }
        }
    }