.banners-row {
    width: 100%;
}
.banner-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    .banner-modal-content {
        background-color: $page-background-color;
        margin: 200px auto;
        padding: 20px;
        @include border (1px, 1px, 1px, 1px);
        width: 80%;
        img {
            @include rectangle(60%, 60%);
            margin-left: 20%;
        }
        .add-banner-header {
            @include flex(space-between, flex-start);
            width: 100%;
            .close {
                cursor: pointer;
                font-size: 20px;
            }
        }
        .banner-options {
            @include flex(space-between, flex-start);
            width: 100%;
        }
        .selecting {
            width: 100%;
            .select-banners {
                @include border(1px, 1px, 1px, 0);
                width: 50%;                
                img {
                    @include icon(18px,black);
                }
            }
            .select-websites {
                @include border(1px, 0, 1px, 0);
                width: 50%;
                img {
                    @include icon(18px,black);
                }
            }
        }
        .banner-end {
            img {
                @include icon(18px,black);
            }
        }
    }
}