.general {
    background-color: $page-background-color;
    margin: 10px auto;
    .table-1 {
        .list-left {
            margin: 40px 10px 40px 0;
        }
        .list-right {
            margin: 40px 0 40px 10px;
        }
    }
    .graph {
        margin: 20px auto;
    }
}