.main {
    .links {
    margin: 10px 0;
    background-color: $page-background-color;
    @include flex(center, center);
    flex-direction: column;
        .addnew-btn {
            margin: 20px;
        }
    }
}