<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kodilla's Solo Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <meta name="description" content="Project">
    <meta name="author" content="Piotr Dz.">
    <link src="./images/icons/fonts/Glyphter.svg" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lemon" rel="stylesheet">
</head>
<body>
<div class="container-fluid container">
    <div class="row">
        <div class="navbar col-offset-xl-2">
            <div class="row">
                <div class="navigation">
                    <div class="wallet">
                        <img alt="icon" class="icon-wallet" src="/images/icons/wallet.svg">
                        <p class="paragraph">$1,500.00</p>
                        <img alt="icon" class="icon-arrow-down" src="/images/icons/arrow-down.svg">
                    </div>
                    <div class="notification top-menu-button">
                        <img alt="icon" class="icon-notification" src="/images/icons/notification.svg">
                    </div>
                    <div class="profile">
                        <img alt="icon" class="icon-profile" src="/images/icons/profile.svg">
                        <p class="small-link">Leonardo Dicaprio</p>
                    </div>
                    <div class="quit top-menu-button" id="quitBtn">
                        <img alt="icon" class="icon-quit" src="/images/icons/quit.svg">
                    </div>
                    <div id="quitModal" class="quit-modal">
                        <div class="quit-modal-content">
                            <p class="paragraph quit-modal-p">Do you really want to quit?</p>
                            <button class="grey-btn quit-modal-btn">Cancel</button>
                            <button class="orange-btn quit-modal-btn">Quit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="sidebar col-xl-2">
            <div class="sidebar-up">
                <div class="brand">
                    <a class="brand-name" href="#">Just do it</a>
                    <div class="hamburger">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                </div>
                <div class="menu">
                    <a class="menu-icon" href="/index.html"><img class="icon-general" alt="icon" src="/images/icons/general.svg">General</a>
                    <a class="menu-icon" href="#"><img class="icon-details" alt="icon" src="/images/icons/details.svg">Details</a> 
                    <a class="menu-icon" href="/templates/links.html"><img class="icon-links" alt="icon" src="/images/icons/links.svg">Links</a>
                    <a class="menu-icon" href="/templates/banners.html"><img class="icon-banners" alt="icon" src="/images/icons/banners.svg">Banners</a>
                    <a class="menu-icon" href="/templates/personal-data.html"><img class="icon-personaldata" alt="icon" src="/images/icons/personaldata.svg">Personal data</a>
                    <a class="menu-icon" href="#"><img class="icon-payout" alt="icon" src="/images/icons/payout.svg">Payout</a>
                    <a class="menu-icon" href="#"><img class="icon-postback" alt="icon" src="/images/icons/postback.svg">Postback</a>
                </div>
            </div>
            <div class="sidebar-down">
                <header class="section-header manager">Your manager</header>
                <div class="wrapper">
                    <img src="https://images.pexels.com/photos/842567/pexels-photo-842567.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="manager">
                    <p class="large-link">Mikhael E.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="row">
        <section class="links col-xl-11 col-lg-11">
            <div class="row">
                <div class="page-header col-xl-12 col-lg-12">Banners</div>
            </div>
            <button class="orange-btn addnew-btn" id="banner-modal-btn">+add new</button>
            <div id="bannerModal" class="banner-modal">
                <div class="banner-modal-content">
                    <div class="row">
                        <div class="page-header add-banner-header col-xl-12 col-lg-12">
                            Add banners
                            <span class="close">&times;</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="banner-options col-xl-12 col-lg-12">
                            <p class="section-header">Scheme name</p>
                            <p class="section-header">Compain</p>
                            <p class="section-header">Language</p>
                        </div>
                    </div>
                    <div class="row">
                            <div class="banner-options col-xl-12 col-lg-12">
                                <p class="section-header">Weight-height</p>
                                <p class="section-header">Design</p>
                                <p class="section-header">File type</p>
                            </div>
                    </div>
                </div>
            </div>
            <div class="table-with-link-row">
                <p class="section-header">Banner main</p>
                <p class="link">http://www.website.com/bannermain.gif</p>
                <div class="two-icons">
                    <img class="icon-links" alt="icon" src="/images/icons/links.svg">
                    <img class="icon-trash" alt="icon" src="/images/icons/trash.svg">
                </div>
            </div>
            <div class="table-with-link-row">
                <p class="section-header">Sign up banner</p>
                <p class="link">http://www.website.com/signup.gif</p>
                <div class="two-icons">
                    <img class="icon-links" alt="icon" src="/images/icons/links.svg">
                    <img class="icon-trash" alt="icon" src="/images/icons/trash.svg">
                </div>
            </div>
            <div class="table-with-link-row">
                <p class="section-header">Banner left side</p>
                <p class="link">http://www.website.com/leftside.gif</p>
                <div class="two-icons">
                    <img class="icon-links" alt="icon" src="/images/icons/links.svg">
                    <img class="icon-trash" alt="icon" src="/images/icons/trash.svg">
                </div>
            </div>
            <div class="table-with-link-row">
                <p class="section-header">Vertical banner</p>
                <p class="link">http://www.website.com/vert.gif</p>
                <div class="two-icons">
                    <img class="icon-links" alt="icon" src="/images/icons/links.svg">
                    <img class="icon-trash" alt="icon" src="/images/icons/trash.svg">
                </div>
            </div>
            <div class="table-with-link-row">
                <p class="section-header">Front banner</p>
                <p class="link">http://www.website.com/front.gif</p>
                <div class="two-icons">
                    <img class="icon-links" alt="icon" src="/images/icons/links.svg">
                    <img class="icon-trash" alt="icon" src="/images/icons/trash.svg">
                </div>
            </div>
            <div class="table-with-link-row">
                <p class="section-header">Horizontal banner</p>
                <p class="link">http://www.website.com/horizontal.gif</p>
                <div class="two-icons">
                    <img class="icon-links" alt="icon" src="/images/icons/links.svg">
                    <img class="icon-trash" alt="icon" src="/images/icons/trash.svg">
                </div>
            </div>
            <button class="orange-btn addnew-btn" id="banner-modal-btn">+add new</button>
        </section>
        </div>
    </div>
</div>
<script type="text/javascript" src='../js/script.js'></script>
</body>
</html>