<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kodilla's Solo Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <meta name="description" content="Project">
    <meta name="author" content="Piotr Dz.">
    <link src="./images/icons/fonts/Glyphter.svg" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lemon" rel="stylesheet">
</head>
<body>
    <div class="row">
        <div class="navbar col-xl-12">
            <div class="row">
                <div class="navigation">
                    <div class="wallet">
                        <img alt="icon" class="icon-wallet" src="/images/icons/wallet.svg">
                        <p class="paragraph">$1,500.00</p>
                        <img alt="icon" class="icon-arrow-down" src="/images/icons/arrow-down.svg">
                    </div>
                    <div class="notification top-menu-button">
                        <img alt="icon" class="icon-notification" src="/images/icons/notification.svg">
                    </div>
                    <div class="profile">
                        <img alt="icon" class="icon-profile" src="/images/icons/profile.svg">
                        <p class="small-link">Leonardo Dicaprio</p>
                    </div>
                    <div class="quit top-menu-button">
                        <img alt="icon" class="icon-quit" src="/images/icons/quit.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="sidebar col-xl-2">
            <div class="sidebar-up">
                <div class="brand">
                    <a class="brand-name" href="#">Just do it</a>
                    <div class="hamburger">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                </div>
                <div class="menu">
                    <a class="menu-icon" href="/index.html"><img class="icon-general" alt="icon" src="/images/icons/general.svg">General</a>
                    <a class="menu-icon" href="#"><img class="icon-details" alt="icon" src="/images/icons/details.svg">Details</a> 
                    <a class="menu-icon" href="/templates/links.html"><img class="icon-links" alt="icon" src="/images/icons/links.svg">Links</a>
                    <a class="menu-icon" href="#"><img class="icon-banners" alt="icon" src="/images/icons/banners.svg">Banners</a>
                    <a class="menu-icon" href="#"><img class="icon-personaldata" alt="icon" src="/images/icons/personaldata.svg">Personal data</a>
                    <a class="menu-icon" href="#"><img class="icon-payout" alt="icon" src="/images/icons/payout.svg">Payout</a>
                    <a class="menu-icon" href="#"><img class="icon-postback" alt="icon" src="/images/icons/postback.svg">Postback</a>
                </div>
            </div>
            <div class="sidebar-down">
                <header class="section-header manager">Your manager</header>
                <div class="wrapper">
                    <img src="https://images.pexels.com/photos/842567/pexels-photo-842567.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="manager">
                    <p class="large-link">Mikhael E.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <section class="links col-xl-11">
            <button class="orange-btn addnew-btn">+add new</button>
            <div class="table-with-link-row">
                <p class="section-header">Home page</p>
                <p class="link">www.homepage.com</p>
                <div class="two-icons">
                    <img class="icon-links" alt="icon" src="/images/icons/links.svg">
                    <img class="icon-trash" alt="icon" src="/images/icons/trash.svg">
                </div>
            </div>
            <div class="table-with-link-row">
                <p class="section-header">Currently offer</p>
                <p class="link">www.current.com</p>
                <div class="two-icons">
                    <img class="icon-links" alt="icon" src="/images/icons/links.svg">
                    <img class="icon-trash" alt="icon" src="/images/icons/trash.svg">
                </div>
            </div>
            <div class="table-with-link-row">
                <p class="section-header">Blurpix</p>
                <p class="link">www.blurpix.com</p>
                <div class="two-icons">
                    <img class="icon-links" alt="icon" src="/images/icons/links.svg">
                    <img class="icon-trash" alt="icon" src="/images/icons/trash.svg">
                </div>
            </div>
            <div class="table-with-link-row">
                <p class="section-header">Google</p>
                <p class="link">www.google.com</p>
                <div class="two-icons">
                    <img class="icon-links" alt="icon" src="/images/icons/links.svg">
                    <img class="icon-trash" alt="icon" src="/images/icons/trash.svg">
                </div>
            </div>
            <div class="table-with-link-row">
                <p class="section-header">Facebook</p>
                <p class="link">www.facebook.com</p>
                <div class="two-icons">
                    <img class="icon-links" alt="icon" src="/images/icons/links.svg">
                    <img class="icon-trash" alt="icon" src="/images/icons/trash.svg">
                </div>
            </div>
            <div class="table-with-link-row">
                <p class="section-header">Blurax</p>
                <p class="link">www.blurax.com</p>
                <div class="two-icons">
                    <img class="icon-links" alt="icon" src="/images/icons/links.svg">
                    <img class="icon-trash" alt="icon" src="/images/icons/trash.svg">
                </div>
            </div>
            <div class="table-with-link-row">
                <p class="section-header">Piece of wine</p>
                <p class="link">www.pieceofwine.com</p>
                <div class="two-icons">
                    <img class="icon-links" alt="icon" src="/images/icons/links.svg">
                    <img class="icon-trash" alt="icon" src="/images/icons/trash.svg">
                </div>
            </div>
            <div class="table-with-link-row">
                <p class="section-header">Twitter</p>
                <p class="link">www.twitter.com</p>
                <div class="two-icons">
                    <img class="icon-links" alt="icon" src="/images/icons/links.svg">
                    <img class="icon-trash" alt="icon" src="/images/icons/trash.svg">
                </div>
            </div>
            <button class="orange-btn addnew-btn">+add new</button>
        </section>
    </div>
</body>
</html>
