<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kodilla's Solo Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <meta name="description" content="Project">
    <meta name="author" content="Piotr Dz.">
    <link src="./images/icons/fonts/Glyphter.svg" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lemon" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="navigation">
            <div class="wallet">
                <img alt="icon" class="icon-wallet" src="./images/icons/wallet.svg">
                <p class="paragraph">$1,500.00</p>
                <img alt="icon" class="icon-arrow-down" src="./images/icons/arrow-down.svg">
            </div>
            <div class="notification top-menu-button">
                <img alt="icon" class="icon-notification" src="./images/icons/notification.svg">
            </div>
            <div class="profile">
                <img alt="icon" class="icon-profile" src="./images/icons/profile.svg">
                <p class="small-link">Leonardo Dicaprio</p>
            </div>
            <div class="quit top-menu-button" id="quitBtn">
                <img alt="icon" class="icon-quit" src="./images/icons/quit.svg">
            </div>
            <div id="quitModal" class="quit-modal">
                <div class="quit-modal-content">
                    <p class="paragraph quit-modal-p">Do you really want to quit?</p>
                    <button class="grey-btn quit-modal-btn" id="quitModalBtn">Cancel</button>
                    <button class="orange-btn quit-modal-btn"><a href="https://kodilla.com">Quit</a></button>
                </div>
            </div>
        </div>
    </nav>
    <div class="sidebar change-height">
        <div class="sidebar-up">
            <div class="brand">
                <a class="brand-name" href="#">Just do it</a>
                <div class="hamburger">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>
        </div>
        <div class="menu">
            <div class="sidebar-menu">
                <a class="menu-icon" href="/index.html"><img class="icon-general" alt="icon" src="./images/icons/general.svg">General</a>
                <a class="menu-icon" href="#"><img class="icon-details" alt="icon" src="./images/icons/details.svg">Details</a> 
                <a class="menu-icon" href="/templates/links.html"><img class="icon-links" alt="icon" src="./images/icons/links.svg">Links</a>
                <a class="menu-icon" href="/templates/banners.html"><img class="icon-banners" alt="icon" src="./images/icons/banners.svg">Banners</a>
                <a class="menu-icon" href="/templates/personal-data.html"><img class="icon-personaldata" alt="icon" src="./images/icons/personaldata.svg">Personal data</a>
                <a class="menu-icon" href="#"><img class="icon-payout" alt="icon" src="./images/icons/payout.svg">Payout</a>
                <a class="menu-icon" href="#"><img class="icon-postback" alt="icon" src="./images/icons/postback.svg">Postback</a>
            </div>
            <div class="sidebar-down">
                <header class="section-header manager">Your manager</header>
                <div class="wrapper">
                    <img src="https://images.pexels.com/photos/842567/pexels-photo-842567.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="manager">
                    <p class="large-link">Mikhael E.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid container">
        <div class="row">
        <main class="col-md-12 col-lg-12">
            <div class="row">
            <section class="links col-md-12 col-sm-12 col-lg-12">
                <div class="links-row row">
                    <header class="page-header col-sm-12 col-md-12 col-lg-12">Links</header>
                </div>
                <button class="orange-btn addnew-btn">+add new</button>
                <div class="table-with-link-row homepage-row">
                    <p class="section-header">Home page</p>
                    <a href="#" class="link">www.homepage.com</a>
                    <div class="two-icons">
                        <img class="icon-links" alt="icon" src="./images/icons/links.svg">
                        <img class="icon-trash" alt="icon" src="./images/icons/trash.svg">
                    </div>
                </div>
                <div class="table-with-link-row">
                    <p class="section-header">Currently offer</p>
                    <a href="#" class="link">www.current.com</a>
                    <div class="two-icons">
                        <img class="icon-links" alt="icon" src="./images/icons/links.svg">
                        <img class="icon-trash" alt="icon" src="./images/icons/trash.svg">
                    </div>
                </div>
                <div class="table-with-link-row">
                    <p class="section-header">Blurpix</p>
                    <a href="#" class="link">www.blurpix.com</a>
                    <div class="two-icons">
                        <img class="icon-links" alt="icon" src="./images/icons/links.svg">
                        <img class="icon-trash" alt="icon" src="./images/icons/trash.svg">
                    </div>
                </div>
                <div class="table-with-link-row">
                    <p class="section-header">Google</p>
                    <a href="#" class="link">www.google.com</a>
                    <div class="two-icons">
                        <img class="icon-links" alt="icon" src="./images/icons/links.svg">
                        <img class="icon-trash" alt="icon" src="./images/icons/trash.svg">
                    </div>
                </div>
                <div class="table-with-link-row">
                    <p class="section-header">Facebook</p>
                    <a href="#" class="link">www.facebook.com</a>
                    <div class="two-icons">
                        <img class="icon-links" alt="icon" src="./images/icons/links.svg">
                        <img class="icon-trash" alt="icon" src="./images/icons/trash.svg">
                    </div>
                </div>
                <div class="table-with-link-row">
                    <p class="section-header">Blurax</p>
                    <a href="#" class="link">www.blurax.com</a>
                    <div class="two-icons">
                        <img class="icon-links" alt="icon" src="./images/icons/links.svg">
                        <img class="icon-trash" alt="icon" src="./images/icons/trash.svg">
                    </div>
                </div>
                <div class="table-with-link-row">
                    <p class="section-header">Piece of wine</p>
                    <a href="#" class="link">www.pieceofwine.com</a>
                    <div class="two-icons">
                        <img class="icon-links" alt="icon" src="./images/icons/links.svg">
                        <img class="icon-trash" alt="icon" src="./images/icons/trash.svg">
                    </div>
                </div>
                <div class="table-with-link-row">
                    <p class="section-header">Twitter</p>
                    <a href="#" class="link">www.twitter.com</a>
                    <div class="two-icons">
                        <img class="icon-links" alt="icon" src="./images/icons/links.svg">
                        <img class="icon-trash" alt="icon" src="./images/icons/trash.svg">
                    </div>
                </div>
                <button class="orange-btn addnew-btn">+add new</button>
            </section>
            </div>
        </main>
        </div>
    </div>
</div>
    <script type="text/javascript" src='../js/script.js'></script>
</body>
</html>
