.navbar {
    width: 100%;
    position: fixed;
    background-color: $page-background-color;
    @include flex(flex-end, flex-start);
    z-index: 1;
    .navigation {
        @include flex(flex-end, flex-start);
        .wallet {
            @include flex(space-around, center);
            @include border(0, 1px, 1px, 1px);
            @include rectangle(190px, 60px);
            img {
                @include icon(18px,black);
            }
            .icon-arrow:hover {
                cursor: pointer;
            }
            p {
                margin: 0;
            }
        }
        .profile {
            @include flex(space-around, center);
            @include border (0, 1px, 1px, 1px);
            @include rectangle(170px, 60px);
            &:hover {
                cursor: pointer;
            }
            img {
                @include icon(18px,black);
            }
            .small-link {
                background: none;
            }
        }
        .quit {
            cursor: pointer;
        }
    }
}